 <!-- Header-->
 <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <div id="mobile-menu">
                <div class="left-nav-toggle">
                    <a href="#">
                        <i class="stroke-hamburgermenu"></i>
                    </a>
                </div>
            </div>
            <a class="navbar-brand" href="index-2.html">
                TECSUP
                <span>v.1.0</span>
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <div class="left-nav-toggle">
                <a href="#">
                    <i class="stroke-hamburgermenu"></i>
                </a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class=" profil-link">
                    <a routerLink="/">
                        <span class="profile-address">{{ nombre }}</span>
                        <img src="assets/images/profile.jpg" class="img-circle" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- End header-->

<!-- Navigation-->
<aside class="navigation">
    <nav>
        <ul class="nav luna-nav">
            
            <li>
                <a href="/listar-productos">Productos</a>
            </li>
            <li>
                <a href="/listar-peliculas">Películas</a>
            </li>
            
            <li>
                <a href="/listar-socios">Socios</a>
            </li>
            <li>
                <a href="/listar-prestamos">Prestamos</a>
            </li>
        </ul>
    </nav>
</aside>
<!-- End navigation-->
